body{
    background-image: url(../Imagens/matrix.jpg);
    background-size: auto;
    background-repeat: repeat;
    font-family: Share Tech Mono, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    color: white;
}

.formatacao-fieldset{
    border: 2px solid white;
    background-color: rgba(119, 136, 153, 0.842);
    width: 20px;
    margin: auto;
}

.formatacao-pre{
    font-size: 15px;
}